.swiper_items {
  width: 750rpx;
  height: 340rpx;
}

.nav {
  display: flex;
  .nav_item {
    flex: 1;
    padding: 20rpx;
  }
}

.goods_lists {
  .goods_list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20rpx;

    .goods_title {
      width: 750rpx;
      height: 59rpx;
    }

    // .goods_items {
    //   display: flex;
    //   flex: 1;
    //   padding: 20rpx;
    //   // padding-right: 10rpx;

    //   .goods_item_left {
    //     // margin-right: 10rpx;
    //     flex: 1;
    //   }

    //   .goods_item_right {
    //     flex: 2;
    //     display: flex;
    //     flex-wrap: wrap;

    //     navigator {
    //       width: 50%;
    //       height: 33 / (232 / 386) vw;
    //       padding-left: 10rpx;

    //       &:nth-child(-n + 2) {
    //         margin-bottom: 10rpx;
    //       }

    //       image {
    //         height: 100%;
    //       }
    //     }
    //   }
    // }

    .goods_items {
      display: grid;
      width: 100%;
      padding: 0 10rpx;

      grid-template-columns: repeat(3, 1fr);
      // 33vw / h = 232 / 386
      grid-template-rows: repeat(2, (33vw * 386) / (232 * 2));
      grid-gap: 10rpx;

      navigator:first-child {
        grid-row-start: span 2;
        grid-column-start: span 1;
      }

      image {
        height: 100%;
      }
    }
  }
}
